<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guyao.mrg.mvc.user.mapper.UserMapper">


    <resultMap id="userResult" type="com.guyao.mrg.mvc.user.entity.User">
        <id column="id" property="id"/>
        <result column="is_delete" property="isDelete"/>
        <collection property="roleList" column="id" fetchType="eager" select="com.guyao.mrg.mvc.role.mapper.RoleMapper.findByUserId"/>
    </resultMap>

    <update id="updateLoginInfo">
        update user
        set
        last_login_time=#{lastLoginTime},
        login_count= login_count + 1

    </update>


    <sql id="baseColumns">
        ${prefix}.id,
        ${prefix}.user_name,
        ${prefix}.account,
        ${prefix}.PASSWORD,
        ${prefix}.mobile,
        ${prefix}.email,
        ${prefix}.register_time,
        ${prefix}.last_login_time,
        ${prefix}.login_count,
        ${prefix}.is_delete,
        ${prefix}.remark,
        ${prefix}.user_status
    </sql>
    <select id="findByUsername" resultMap="userResult">
        SELECT
        <include refid="baseColumns">
            <property name="prefix" value="u"/>
        </include>
        FROM
            user u
        where u.account = #{username}
        and u.is_delete = 0
    </select>

    <select id="page" parameterType="user" resultType="user">
        select
        <include refid="baseColumns">
            <property name="prefix" value="u"/>
        </include>
        from
            user u
        <where>
            u.is_delete = 0
        </where>
    </select>
    <select id="listByRoleId" resultType="user">
        select
        <include refid="baseColumns">
            <property name="prefix" value="u"/>
        </include>
        from user u right join user_role ur on ur.user_id = u.id
        <where>
            ur.role_id = #{roleId}
            and u.is_delete = 0
        </where>
    </select>

    <insert id="addUserRoleRela">
        insert into user_role(id, user_id, role_id) values (
        #{id},
        #{userId},
        #{roleId}
        )
    </insert>

    <delete id="deleteRelaByRoleId">
        delete from user_role where role_id = #{roleId}
    </delete>

    <delete id="deleteRelaByUserId">
        delete from user_role where role_id = #{userId}
    </delete>

</mapper>
