<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guyao.mrg.mvc.user.mapper.UserMapper">


    <resultMap id="userResult" type="com.guyao.mrg.mvc.user.entity.User">
        <id column="id" property="id"/>
        <result column="is_delete" property="isDelete"/>
        <collection property="roleList" column="id" fetchType="eager" select="com.guyao.mrg.mvc.role.mapper.RoleMapper.findByUserId"/>
    </resultMap>

    <update id="updateLoginInfo">
        update user
        set
        last_login_time=#{lastLoginTime},
        login_count= login_count + 1

    </update>


    <sql id="baseColumns">
        id,
        user_name,
        account,
        PASSWORD,
        mobile,
        email,
        register_time,
        last_login_time,
        login_count,
        is_delete,
        remark,
        user_status
    </sql>
    <select id="findByUsername" resultMap="userResult">
        SELECT
        <include refid="baseColumns"/>
        FROM
            user
        where account = #{username}
        and is_delete = 0
    </select>

    <select id="page" parameterType="user" resultType="user">
        select
        <include refid="baseColumns"/>
        from
            user
        <where>
            is_delete = #{user.isDelete}
        </where>
    </select>

</mapper>
