<!-- REQUIRED SCRIPTS -->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="script">
    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <!-- bootstrap -->
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!--editormd -->
    <script th:src="@{/webjars/jquery-blockui/2.70/jquery.blockUI.js}"></script>
    <!-- icheck -->
    <script th:src="@{/webjars/iCheck/1.0.2/icheck.min.js}"></script>
    <!-- bootstrapValidator -->
    <script th:src="@{/webjars/bootstrapvalidator/0.5.3/js/bootstrapValidator.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/static/common/dist/js/adminlte.js}"></script>
    <script th:src="@{/static/common/dist/js/skins.js}"></script>
    <!-- tabs标签js -->
    <script th:src="@{/static/common/js/content-tabs.js}"></script>
    <!-- common.js -->
    <script th:src="@{/static/common/js/common.js}"></script>
    <!-- layer -->
    <script th:src="@{/webjars/layer/dist/layer.js}"></script>
    <!-- 通用js -->
    <script th:src="@{/static/common/js/mrg-base.js}"></script>
    <!-- 项目路径 -->
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        contextPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</div>
<div th:fragment="bootstrap-table">
        <!-- bootstrap-table.js -->
        <script th:src="@{/webjars/bootstrap-table/1.15.4/dist/bootstrap-table.min.js}"></script>
        <script th:src="@{/webjars/bootstrap-table/1.15.4/dist/locale/bootstrap-table-zh-CN.js}"></script>
        <!--boostrap-treegrid -->
        <script th:src="@{/webjars/bootstrap-table/1.15.4/src/extensions/treegrid/bootstrap-table-treegrid.js}"></script>
        <!--jquery-treegrid -->
        <script th:src="@{/webjars/jquery-treegrid/0.3.0/js/jquery.treegrid.min.js}"></script>
</div>
<div th:fragment="bootstrap-switch">
        <script th:src="@{/static/common/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
</div>
<div th:fragment="ztree">
    <!-- ztree -->
    <script th:src="@{/webjars/zTree/3.5.37/js/jquery.ztree.core.min.js}"></script>
    <script th:src="@{/webjars/zTree/3.5.37/js/jquery.ztree.excheck.min.js}"></script>
    <script th:src="@{/webjars/zTree/3.5.37/js/jquery.ztree.exedit.min.js}"></script>
    <script th:src="@{/webjars/zTree/3.5.37/js/jquery.ztree.exhide.min.js}"></script>
</div>
</html>

