<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/static/common/dist/img/yibasuo.jpg}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>一把梭工程师</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">导航栏</li>
            <th:block th:fragment="title(menus)">
                <th:block th:each="menu : ${menus}">
                    <th:block th:if="${#lists.size(menu.children)>0}">
                        <li class="treeview">
                            <a href="#">
                                <i th:class="${menu.icon}"></i>
                                <span th:text="${menu.name}"></span>
                                <span class="pull-right-container"/>
                            </a>
                            <ul class="treeview-menu" th:include="this::title(${menu.children})">
                            </ul>
                        </li>
                    </th:block>
                    <th:block th:unless="${#lists.size(menu.children)}">
                        <li th:inline="javascript" class="treeview">
                            <a href="#" th:data-id="${menu.id}" th:data-name="${menu.name}" th:data-url="${menu.url}"
                               onclick="javascript:void(0); addTabs({id:this.getAttribute('data-id'),title:this.getAttribute('data-name'),close:true,url:this.getAttribute('data-url')});">
                                <i th:class="${menu.icon}"></i>
                                <span th:text="${menu.name}"></span>
                            </a>
                        </li>
                    </th:block>
                </th:block>
            </th:block>

            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
